body {
	background-color: #132020;
}

body > * {
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#bg {
	width: 100%;
}

h1, h2 {
	margin: 0px;
}
h3 {
	color: #FFF;
	text-align: center;
	font-size: 60px;
	margin: 0px 0px 25px 0px;
	font-family: 'Cookie', cursive;
}

h1 {
	font-size: 45px;
    color: #cd7654;
    margin-bottom: 5px;
    font-family: 'Architects Daughter', cursive;
}

h2 {
	font-size: 14px;
	margin-bottom: 12px;
	font-weight: bold;
	font-style: italic;
}

#container {
	width: 70%;
	margin: auto;
	height: 310px;
}

#intro, #specs {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}

#intro {
	text-align: center;
}

#intro-container {
	width: 300px;
	float: right;
}

#specs {
	border-left: 5px dotted #383737;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
}

#links li {
	display: inline-block;
}

#links ul li img {
	height: 25px;
	vertical-align: middle;
}

#links li a div {
	background-color: #584372;
	padding: 4px;
	width: 29px;
	border-radius: 7px;
}

#specs li {
	list-style-type: none;
}

#specs ul {
	margin: 2px 0px;
	padding-left: 55px;
}



