body {
	background-color: #132020;
}

body > * {
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1, h2 {
	margin: 0px;
}
h3 {
	color: #FFF;
	text-align: center;
	font-size: 60px;
	margin: 0px 0px 25px 0px;
	font-family: 'Cookie', cursive;
}

h1 {
	font-size: 45px;
    color: #cd7654;
    margin-bottom: 5px;
    font-family: 'Architects Daughter', cursive;
}

h2 {
	font-size: 14px;
	margin-bottom: 12px;
	font-weight: bold;
	font-style: italic;
}

#bg {
	width: 100%;
}

#wrapper {
	opacity: 0.0;
}

#container {
	width: 70%;
	margin: auto;
	height: 310px;
}

#intro, #specs {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}

#intro {
	text-align: center;
}

#intro-container {
	width: 300px;
	float: right;
}

#links li {
	display: inline-block;
}

#links ul li img {
	height: 25px;
	vertical-align: middle;
}

#links li a div {
	background-color: #584372;
	padding: 4px;
	width: 29px;
	border-radius: 7px;
}

#specs {
	border-left: 5px dotted #383737;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
}

#specs li {
	list-style-type: none;
}

#specs ul {
	margin: 2px 0px;
	padding-left: 55px;
}

/* WRAPPER ANNIMATION */

.fade {
	-webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
}

#loader-wrapper {
	width: 100%;
	margin: 0 auto;
	position: absolute;
}

.loader {
	width: 80px;
	margin: 113px 43%;
}

/* LOADER CSS */

.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #aa28ea;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; 
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; 
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; 
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; 
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; 
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; 
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
}


@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
